.inner{
    padding-top: 112px;
    padding-bottom: 80px;
    width: 100%;
    max-width: 1280px;
    img{
        width: 100%;
    }
}
.blog-inner{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    .author{
        display: flex;
        align-items: center;
        span{
            font-size: 16px;
            font-weight: 400;
            color: #394149;
            margin-left: 24px;
        }
        .andry{
            font-weight: 400;
            font-size: 16px;
            color: #394149;
            margin-left: 24px;}
        img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 8px;
        }
    }
    h1{
        font-size: 64px;
        font-weight: 600;
        line-height: 72px;
        color: #1D3444;
        margin: 24px 0 32px 0;
    }
    h2{
        font-size: 48px;
        font-weight: 600;
        color: #0D1317;
        margin-bottom: 24px;
    }
 p{
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    font-weight: 500;
    padding-bottom: 24px;
}
.mb-0{
    margin-bottom: 128px;
}
}





