.services {
  padding: 80px 0;

  &__title {
    font-size: 48px;
    font-weight: 700;
    color: #1D3444;
    line-height: 1.3;
    margin-bottom: 15px;
  }

  &__subtitle {
    max-width: 600px;
    font-size: 18px;
    color: #5B5B5B;
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}

.service-card {
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius:2px ;
  border-bottom-right-radius:4px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
max-width:380px;
  &:hover {
    transform: translateY(-5px);
  }

  &__img {
    width: 100%;
    height: 210px;
    overflow: hidden;
    border-radius: 14px;
    margin-bottom: 33px;

    img {
      width: 100%;
      max-width: 400px;
      min-height: 242px;
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    font-size: 20px;
    color: #0D1317;
    margin-bottom: 17px;
  }

  p {
    width: 319px;
    color: #6d7a87;
    font-size: 15px;
    margin-bottom: 24px;
  }

  .learn-more {
    display: inline-block;
    color: #ff7a00;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: #d66900;
    }
  }
}
