.contact-section {
  padding-top: 90px ;
  padding-bottom: 110px;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  .left {
    flex: 1;

    h2 {
        
      font-size: 48px;
      font-weight: 600;
      color: #1D3444;
      margin-bottom: 24px;
      line-height: 1.3;
    }

    p {
      color: #5B5B5B;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 60px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input, textarea {
        width: 100%;
        padding: 14px 18px;
        border: 1px solid #eee;
        border-radius: 25px;
        background: #fafafa;
        font-size: 14px;
      }

      textarea {
        height: 140px;
        resize: none;
        border-radius: 16px;
      }

      button {
        width: 100px;
        padding: 10px 0;
        border: none;
        border-radius: 20px;
        background: #ff8c22;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: #ff7a00;
        }
      }
    }
  }

  .right {
    flex: 1;

    .info {
      display: flex;
      gap: 76px;
      margin-bottom: 25px;

      div {
        h4 {
            padding-top: 20px;
          font-size: 24px;
          font-weight: 500;
          color: #0D1317;
          margin-bottom: 16px;
        }
        p {
          color: #5B5B5B;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.5;
          margin-bottom: 90px;
        }
      }
    }

    .map {
      width: 90%;
      height: 320px;
      overflow: hidden;
      border-radius: 20px;
      filter: grayscale(100%);
    }
  }
}