$dark-bg: #062c49;
$dark-text: #ffffff;
$light-bg: #f2f6fa;
$light-text: #062c49;

/* THEME SWITCH */
.theme-switch {
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 20;

  p {
    font-size: 14px;
  }
}

.switch {
  position: relative;
  width: 50px;
  height: 24px;

  input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    background: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    width: 100%;
    height: 100%;

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background: #ff9000;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
}

/* ===========================
   FOOTER
   =========================== */

.site-footer {
  padding: 80px 0;
  background: $dark-bg;
  color: #fff;
  position: relative;
  transition: 0.3s;

  body:not(.dark) & {
    background: #0d3d63;
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1.3fr;
    gap: 60px;
    align-items: start;
  }

  h4 {
    margin-bottom: 15px;
  }

  a,
  p {
    opacity: 0.9;
    transition: 0.3s;
    color: white;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  /* BRAND */
  .footer-brand {
    .footer-title {
      font-size: 36px;
      font-weight: 600;
      margin: 32px 0;
      width: 350px;
      line-height: 44px;
    }

    .footer-social {
      margin-bottom: 40px;

      a {
        font-size: 18px;
        margin-right: 15px;

        &:hover {
          color: #ff9000;
        }
      }
    }
  }

  /* LINKS */
  .footer-links {
    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 24px;
    }

    a {
      display: block;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 16px;
    }
  }

  /* CONTACT */
  .footer-contact {
    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 24px;
    }

    a {
      display: block;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 16px;
    }
  }

  /* NEWSLETTER */
  .footer-newsletter {
    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 24px;
    }

    .news-input {
      display: flex;
      flex-direction: column;
      gap: 6px;

      input {
        padding: 12px 18px;
        border-radius: 32px;
        border: none;
        outline: none;
        width: 100%;
      }

      button {
        padding: 12px 18px;
        border-radius: 32px;
        background: #ff9000;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        width: fit-content;

        &:hover {
          background: #ff7700;
        }
      }
    }
  }

  /* DECOR SHAPES */
  .shape {
    position: absolute;
    width: 53px;
    background: #f58a07;
  }

  .shape-left {
    left: 0;
    bottom: 0px;
    width: 53px;
    height: 144px;
    border-top-right-radius: 20px;
  }

  .shape-right {
    right: 0;
    top: 38px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 287px;
  }

  /* FOOTER BOTTOM */
  .footer-bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    .footer-bot {
      display: flex;
      gap: 32px;
    }
    a {
      font-size: 16px;
      font-weight: 500;
      color: white;
    }
  }

  /* ===========================
       RESPONSIVE
     =========================== */

  @media (max-width: 1100px) {
    .footer-wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }

    .footer-brand .footer-title {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    padding: 60px 0;

    .footer-wrapper {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    .footer-bottom {
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 80px;
    }

    .shape-right {
      height: 200px;
    }
  }

  @media (max-width: 480px) {
    .footer-wrapper {
      text-align: center;
    }
    .news-input {
        input{
            text-align: center;
        }
      button {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .footer-brand .footer-title {
      font-size: 28px;
      line-height: 38px;
    }

    .footer-wrapper {
      gap: 24px;
    }

    .shape-left {
      height: 100px;
    }

    .shape-right {
      height: 150px;
    }
    .footer-bottom {
      text-align: center;
      flex-direction: column;
      gap: 20px;
      .footer-bot {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
