.privacy {
  max-width: 752px;
  margin: 0 auto;
  padding-bottom: 120px;
  padding-top: 100px;
  h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 56px;
    color: #1d3444;
    margin-bottom: 24px;
  }
  a {
    font-size: 16px;
    color: #5b5b5b;
    font-weight: 500;
    margin-bottom: 48px;
    display: inline-block;
    text-decoration: none;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    color: #5b5b5b;
    font-weight: 500;
    margin-bottom: 24px;
  }
  h5 {
    font-size: 24px;
    font-weight: 600;
    color: #0d1317;
    margin-bottom: 24px;
    margin-top: 40px;
  }
}
