.intro-section {
  padding: 140px 0 60px 0;
  font-family: "Inter", sans-serif;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 900px) {
      flex-direction: column-reverse; // rasm tepaga chiqadi, text pastga
      gap: 20px;
    }
  }

  &__text {
    h2 {
      font-size: 60px;
      font-weight: 600;
      color: #1d3444;
      margin-bottom: 24px;
      width: 550px;

      @media (max-width: 900px) {
        font-size: 36px;
        width: 100%;
        text-align: center;
      }
    }
    p {
      font-size: 18px;
      font-weight: 500;
      width: 470px;
      line-height: 1.8;
      color: #5b5b5b;
      margin-bottom: 32px;

      @media (max-width: 900px) {
        font-size: 16px;
        width: 100%;
        text-align: center;
      }
    }
  }

  &__btn {
    background-color: #f58a07;
    color: #fff;
    border: none;
    padding: 15px 32px;
    border-radius: 27px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    @media (max-width: 900px) {
      display: block;
      margin: 0 auto;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    max-width: 550px;
.intro-section__image2 {
      position: absolute;
      width: 116px;
      height: 113px;
      top: 73px;
      right: -128px;
      z-index: 2;
    }
    .intro-section__image {
      width: 616px;
      height: 650px;
      object-fit: cover;
      filter: grayscale(100%);
      border-radius: 20px;
      display: block;
      position: relative;

      @media (max-width: 1200px) {
        height: 500px;
        width: 100%;
     
      }
    }

    .accemotright {
      z-index: 3;
      position: absolute;
      width: 180px;
      height: 650px;
      opacity: 0.8;
      background-color: #F58A07;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      @media (max-width: 1200px) {
        width: 37%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 20px 0 0 20px;
      }
    }
    .intro-section__image2 {
      position: absolute;
      width: 116px;
      height: 113px;
      top: 73px;
      right: -128px;
      z-index: 2;

      @media (max-width: 1200px) {
         width: 116px;
      height: 113px;
      top: 73px;
      right: -28px;
      display: none;
      }
  }}
}
/////////////////////feture section///////////////////////
.feature-section {
  padding: 30px 0;
  font-family: 'Inter', sans-serif;

  &__item {
    display: flex;
    align-items: center;
    gap: 76px;
    margin-bottom: 60px;
  }

  &__text {
    h3 {
      font-size: 48px;
      font-weight: 600;
      color: #0D1317;
      margin-bottom: 24px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      color: #5B5B5B;
      margin-bottom: 24px;
      width: 500px;
    }
    ul {
      list-style: disc;
      padding-left: 20px;
      li {
        font-size: 16px;
        font-weight: 500;
        color: #5B5B5B;
        margin-bottom: 8px;
      }
    }
  }

  &__image-wrapper {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    max-width: 620px;
    max-height: 550px;

    .feature-section__image {
      position: relative;
      width: 620px;
      height: 550px;
      aspect-ratio: 1.1;
      object-fit: cover;
      border-radius: 20px;
      display: block;
      filter: grayscale(100%);
    }

    .accent-left {
      top: 40%;
      left: -7.5%;
      transform: translateY(-50%);
      position: absolute;
      width: 95px;
      height: 97px;
      z-index: 3;
      opacity: 0.8;
      background-color: #F07C00;
      border-radius: 20px;
    }
  }
  @media (max-width: 1200px) {
    &__item {
      flex-direction: column-reverse; // text pastga, rasm tepaga
      gap: 30px;
      margin-bottom: 40px;
    }

    &__text {
      h3 {
        font-size: 32px;
        text-align: center;
        width: 100%;
      }
      p {
        font-size: 16px;
        width: 100%;
        text-align: center;
      }
      ul {
        li {
          font-size: 14px;
        }
      }
    }

    &__image-wrapper {
      width: 70%;
      max-width: 70%;
      .feature-section__image {
        width: 100%;
        height: auto;
      }
      .accent-left {
        top: 60px;
        left: -0.4%;
        transform: translateX(-50%);
        width: 60px;
        height: 60px;
      }
    }
  }
}
///////////////////////////////3 cards section///////////////////////
.services-section {
  padding-bottom: 80px;
  font-family: 'Inter', sans-serif;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  &__text {
    h3 {
      font-size: 48px;
      font-weight: 600;
      color: #0D1317;
      margin-bottom: 24px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      color: #5B5B5B;
      width: 510px;
    }
  }

  &__image-wrapper {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    max-width: 620px;
    max-height: 550px;

    .services-section__image {
      position: relative;
      width: 100%;
      height: 100%;
      aspect-ratio: 1.1;  // Rasmlar 1.1 nisbatda
      object-fit: cover;
      border-radius: 20px;
      filter: grayscale(100%);
      display: block;
    }

    .accent-top-left {
      position: absolute;
      width: 95px;
      height: 97px;
      opacity: 0.8;
      background-color: #F07C00;
      border-radius: 20px;
      z-index: 3;
      bottom: 181px;
      right: -7.5%;
    }
  }

  // ============================
  // Responsive qismi eng oxirida
  // ============================
  @media (max-width: 1200px) {
    &__item {
      flex-direction: column-reverse; // rasm tepaga, text pastga
      gap: 30px;
      margin-bottom: 40px;
    }

    &__text {
      h3 {
        font-size: 32px;
        width: 100%;
        text-align: center;
      }
      p {
        font-size: 16px;
        width: 100%;
        text-align: center;
      }
    }

    &__image-wrapper {
      width: 100%;
      max-width: 70%;
      max-height: 94%;
      .services-section__image {
        width: 100%;
        height: 100%;
      }
      .accent-top-left {
        width: 60px;
        height: 60px;
        bottom: auto;
        top: 100px;
        right: -0.1px;
        transform: translateX(50%);
      }
    }
  }
}
