@use "../sass/variables";
@use "../sass/header";
@use "../sass/home";
@use "../sass/companies";
@use "../sass/features";
@use "../sass/about";
@use "../sass/service";
@use "../sass/experiens";
@use "../sass/testimonial";
@use "../sass/newsboard";
@use "../sass/footer";
@use "../sass/page-about";
